{% extends "base.html" %} {% block title %}No X{% endblock %} {% block content%}
<form method="POST">
    <h3 align="center">No X</h3>
    <div class="form-group">
      <label for="Vi">Enter the following:</label>
      <input
        type="Vi"
        class="form-control"
        id="Vi"
        name="Vi"
        placeholder="Velocity Initial"
      />
    </div>

    <div class="form-group">
        <label for="Vf"></label>
        <input
          type="Vf"
          class="form-control"
          id="Vf"
          name="Vf"
          placeholder="Velocity Final"
        />
      </div>

      <div class="form-group">
        <label for="a"></label>
        <input
          type="a"
          class="form-control"
          id="a"
          name="a"
          placeholder="Acceleration"
        />
      </div>

      <div class="form-group">
        <label for="t"></label>
        <input
          type="t"
          class="form-control"
          id="t"
          name="t"
          placeholder="Time"
        />
      </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ans}}
{% endblock %}